@page "/institutions"

<h3>Institutions</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/institutions/create">Nueva Institution</a>
</div>

<GenericList MyList="Institutions">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Institutions!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>





