@page "/institutions/edit/{Id:int}"

<h3>@Localizer["Edit"] @Localizer["Institution"]</h3>

@if (institutionDTO is null)
{
    <Loading />
}
else
{
    <InstitutionForm @ref="institutionForm" InstitutionDTO="institutionDTO" OnValidSubmit="EditAsync" ReturnAction="Return" />
}


